h1, h4 {
  color: white;
}

.labels {
  color: white;
}

.locationSubmit {
    background-color: white;
    border: solid 2px #146bd9;
    color: black;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.3s;
  }
  .locationSubmit:hover {
    background-color: #146bd9;
    color: white;
  }

  #bodybg {
    background-size:cover;
    background-image: url('/Users/jakeopie/weatherApp/images/rainyWeather.jpeg');
  }

  