a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  text-decoration: none;
}

h1, h4 {
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.disp {
  color: white;
}

.displayGrid {
  color: white;
}

.labels {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}

.location {
  text-align: center;
}

  #bodybg {
    background-size:cover;
    background-image: url('/Users/jakeopie/weatherApp/images/rainyWeather.jpeg');
  }

  #bot-links {
    position: relative;
    padding-left: 50%;
    padding-top: 150px;
  }

  #dataOne, #dataTwo, #dataThree, #dataFour, #dataFive, #dataSix {
    border-right: 2px solid white;
    height: 200px;
    position: relative;
    padding: 10px 33px;
  }

  #dataSeven {
    padding: 10px 33px;
  }

  #dayOne, #dayTwo, #dayThree, #dayFour, #dayFive, #daySix {
    border-right: 2px solid white;
    height: 200px;
    position: relative;
    padding: 10px 10px;
  }

  #daySeven {
    padding: 10px 10px;
  }

  #daysInWeek, #weatherData {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  #landingBg {
    background-color: #146bd9;
  }

  #landingSpacer {
    padding-top: 250px;
  }

  #landingSubmit {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid 2px #146bd9;
    color: black;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    transition-duration: 0.3s;
  }

  #landingSubmit:hover {
    background-color: black;
    color: white;
  }


  #locationSubmit {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid 2px #146bd9;
    color: black;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    transition-duration: 0.3s;
  }

  #locationSubmit:hover {
    background-color: #146bd9;
    color: white;
  }

  #mainHeader {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  #spacer {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #weatherGrid, .normalHr {
    border-top: 2px solid white;
  }